extends layout

block content
    include inner
    div.page-wrapper.page-inner
        div.container
            div.main-wrapper
                div.row.row-top
                    div.col-lg-6
                      h4 NORTH AMERICA
                      each contact in data
                       h2 #{contact['city']},
                         span #{contact.stateAcronym} 
                         |  #{contact.zipCode}
                       p= contact.mayorGHGTarget
                       - break
                    div.col-lg-6
                      div.progress
                        div(class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 25%
                        h6 
                          strong 75% 
                          | away from target
                div.row.row-main
                    div.col-lg-3.side-img-wrapper
                      div.side-img
                        img(src="../../public/images/side-placeholder.jpg")
                    div.col-lg-9
                      div.results-list
                        div.row
                         each contact in data
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                if contact.repPicture
                                  img(src='../../public/images/'+`${contact.repPicture}`+'.jpg')
                                else
                                  img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Rep.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.repName
                                p Congressional District: 
                                 =  contact.congressionalDistrict
                                p Year Elected: 
                                 =  contact.repYearElected
                                p Next Election: 
                                 =  contact.repNextElection
                                p Party: 
                                 =  contact.repParty
                                p Committee Assignment: 
                                 =  contact.repCommitteeAssignment
                                p Office Room: 
                                 =  contact.repOfficeRoom
                                p Address: 
                                 =  contact.repAddress
                                p Email:
                                 a(href= '//'+`${contact.repEmailAddress}`)
                                   =  contact.repEmailAddress
                                p Online Message: 
                                 a(href= '//'+`${contact.repOnlineMessaging}`)
                                  =  contact.repOnlineMessaging
                                p Twitter: 
                                 a(href= '//'+`${contact.prepTwitter}`)
                                  =  contact.prepTwitter
                                p Phone: 
                                 a(href= 'tel:'+`${contact.repPhone}`)
                                  =  contact.repPhone
                         each contact in data
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                if contact.senator1Picture
                                  img(src='../../public/images/'+`${contact.senator1Picture}`+'.jpg')
                                else
                                  img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Senator.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.senator1Name
                                p Year Elected: 
                                 =  contact.senator1YearElected
                                p Next Election: 
                                 =  contact.senator1NextElection
                                p Party: 
                                 =  contact.senator1Party
                                p Committee Assignment: 
                                 =  contact.senator1CommitteeAssignment
                                p Address: 
                                 =  contact.senator1Address
                                p Email:
                                 a(href= '//'+`${contact.senator1EmailAddress}`)
                                  = contact.senator1EmailAddress
                                p Online Message: 
                                 a(href= '//'+`${contact.senator1OnlineMessaging}`)
                                  = contact.senator1OnlineMessaging
                                p Twitter: 
                                 a(href= '//'+`${contact.senator1Twitter}`)
                                  =  contact.senator1Twitter
                                p Phone:
                                 a(href= 'tel:'+`${contact.senator1Phone}`)
                                  =  contact.senator1Phone
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                if contact.senator2Picture
                                  img(src='../../public/images/'+`${contact.senator2Picture}`+'.jpg')
                                else
                                  img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Senator.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.senator2Name
                                p Year Elected: 
                                 =  contact.senator2YearElected
                                p Next Election: 
                                 =  contact.senator2NextElection
                                p Party: 
                                 =  contact.senator2Party
                                p Committee Assignment: 
                                 =  contact.senator2CommitteeAssignment
                                p Address: 
                                 =  contact.senator2Address
                                p Email:
                                 a(href= '//'+`${contact.senator2EmailAddress}`)
                                  =  contact.senator2EmailAddress
                                p Online Message: 
                                 a(href= '//'+`${contact.senator2OnlineMessaging}`)
                                  =  contact.senator2OnlineMessaging
                                p Twitter: 
                                 a(href= '//'+`${contact.senator2Twitter}`)
                                  =  contact.senator2Twitter
                                p Phone: 
                                 a(href= 'tel:'+`${contact.senator2Phone}`)
                                  =  contact.senator2Phone
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                if contact.governorPicture
                                  img(src='../../public/images/'+`${contact.governorPicture}`+'.jpg')
                                else
                                  img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Governor.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.governorName
                                p Year Elected: 
                                 =  contact.governorYearElected
                                p Next Election: 
                                 =  contact.governorNextElection
                                p Party: 
                                 =  contact.governorParty
                                p Committee Assignment: 
                                 =  contact.governorCommitteeAssignment
                                p Address: 
                                 =  contact.governorAddress
                                p Email:
                                 a(href= '//'+`${contact.governorEmailAddress}`)
                                  =  contact.governorEmailAddress
                                p Online Message: 
                                 a(href= '//'+`${contact.governorOnlineMessaging}`)
                                  =  contact.governorOnlineMessaging
                                p Twitter: 
                                 a(href= '//'+`${contact.governorTwitter}`)
                                  =  contact.governorTwitter
                                p Phone: 
                                 a(href= 'tel:'+`${contact.governorPhone}`)
                                  =  contact.governorPhone
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                if contact.mayorPicture
                                  img(src='../../public/images/'+`${contact.mayorPicture}`+'.jpg')
                                else
                                  img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Mayor.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.mayorName
                                p Year Elected: 
                                 = contact.mayorYearElected
                                p Next Election: 
                                 = contact.mayorNextElection
                                p Party: 
                                 = contact.mayorParty
                                p Committee Assignment: 
                                 = contact.mayorCommitteeAssignment
                                p Address: 
                                 = contact.mayorAddress
                                p Email:
                                 a(href= '//'+`${contact.mayorEmailAddress}`)
                                  = contact.mayorEmailAddress
                                p Online Message: 
                                 a(href= '//'+`${contact.mayorOnlineMessaging}`)
                                  = contact.mayorOnlineMessaging
                                p Twitter: 
                                 a(href= '//'+`${contact.mayorTwitter}`)
                                  = contact.mayorTwitter
                                p Phone: 
                                 a(href= 'tel:'+`${contact.mayorPhone}`)
                                  = contact.mayorPhone
                                 - break
