extends layout

block content
 
    div.page-wrapper.page-inner
        div.container
            div.main-wrapper
                div.row.row-top
                    div.col-lg-6
                      h4 NORTH AMERICA
                      each contact in data
                       h2 #{contact['city']},
                         span #{contact.stateAcronym} #{contact.zipCode}
                       p= contact.mayorGHGTarget
                        - break
                    div.col-lg-6
                      div.progress
                        div(class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 25%
                        h6 
                          strong 75% 
                          | away from target
                div.row.row-main
                    div.col-lg-3.side-img-wrapper
                      div.side-img
                        img(src="../../public/images/side-placeholder.jpg")
                    div.col-lg-9
                      div.results-list
                        div.row
                         each contact in data
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                img(src="../../public/images/placeholder.png")
                              div.item-data
                                h5 Rep.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.repName
                                p Congressional District: 
                                 =  contact.congressionalDistrict
                                p Year Elected: 
                                 =  contact.repYearElected
                                p Next Election: 
                                 =  contact.repNextElection
                                p Party: 
                                 =  contact.repParty
                                p Committee Assignment: 
                                 =  contact.repCommitteeAssignment
                                p Office Room: 
                                 =  contact.repOfficeRoom
                                p Address: 
                                 =  contact.repAddress
                                p Email:
                                 =  contact.repEmailAddress
                                p Online Message: 
                                 =  contact.repOnlineMessgae
                                p Online Message: 
                                 =  contact.repOnlineMessage
                                p Twitter: 
                                 =  contact.prepTwitter
                                p Phone: 
                                 =  contact.repPhone
