extends layout

block content
    include inner
    div.page-wrapper.page-inner
        div.container
            div.main-wrapper
                div.row.row-top
                    div.col-lg-6
                      h4 NORTH AMERICA
                      each contact in data
                       h2 #{contact['city']}, 
                         span #{contact.stateAcronym}  #{contact.zipCode}
                       p= contact.mayorGHGTarget
                       - break
                    div.col-lg-6
                      div.progress.progress-animation(data-value=`${percentage}`)
                        div(class="progress-bar" role="progressbar" aria-valuenow=`${percentage}` style="width:0;" aria-valuemin="0" aria-valuemax="100")
                        h6 
                          strong
                            span.progress-difference 100% 
                            | away from target
                div.row.row-main
                    div.col-lg-3.side-img-wrapper
                      div.side-img
                        if data[0].statePicture
                          img(src=`../../public/images/${data[0].statePicture}.png`)
                        else
                          img(src="../../public/images/side-placeholder.jpg")
                    div.col-lg-9
                      div.results-list
                        div.row
                         each contact in data
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                div.avatar-container
                                  if contact.repPicture
                                    img(src=`../../public/images/${contact.repPicture}.jpg`)
                                  else
                                    img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Rep.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.repName
                                div
                                  label Congressional District: 
                                  span  #{contact.congressionalDistrict}
                                div
                                  label Year Elected: 
                                  span  #{contact.repYearElected}
                                div
                                  label Next Election: 
                                  span  #{contact.repNextElection}
                                div
                                  label Party: 
                                  span  #{contact.repParty}
                                div
                                  label Committee Assignment: 
                                  span  #{contact.repCommitteeAssignment}
                                div
                                  label Office Room: 
                                  span  #{contact.repOfficeRoom}
                                div
                                  label Address: 
                                  span  #{contact.repAddress}
                                div
                                  label Email:
                                  a(href= '//'+`${contact.repEmailAddress}`)
                                    =  contact.repEmailAddress
                                div
                                  label Online Message: 
                                  a(href= '//'+`${contact.repOnlineMessaging}`)
                                    =  contact.repOnlineMessaging
                                div
                                  label Twitter: 
                                  a(href= '//'+`${contact.prepTwitter}`)
                                    =  contact.prepTwitter
                                div
                                  label Phone: 
                                  a(href= 'tel:'+`${contact.repPhone}`)
                                    =  contact.repPhone
                         each contact in data
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                div.avatar-container
                                  if contact.senator1Picture
                                    img(src=`../../public/images/${contact.senator1Picture}.jpg`)
                                  else
                                    img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Senator.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.senator1Name
                                div
                                  label Year Elected: 
                                  span  #{contact.senator1YearElected}
                                div
                                  label Next Election:  
                                  span  #{contact.senator1NextElection}
                                div
                                  label Party: 
                                  span  #{contact.senator1Party}
                                div
                                  label Committee Assignment: 
                                  span  #{contact.senator1CommitteeAssignment}
                                div
                                  label Address: 
                                  span  #{contact.senator1Address}
                                div
                                  label Email:
                                  a(href= '//'+`${contact.senator1EmailAddress}`)
                                    = contact.senator1EmailAddress
                                div
                                  label Online Message: 
                                  a(href= '//'+`${contact.senator1OnlineMessaging}`)
                                    = contact.senator1OnlineMessaging
                                div
                                  label Twitter: 
                                  a(href= '//'+`${contact.senator1Twitter}`)
                                    =  contact.senator1Twitter
                                div
                                  label Phone:
                                  a(href= 'tel:'+`${contact.senator1Phone}`)
                                    =  contact.senator1Phone
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                div.avatar-container
                                  if contact.senator2Picture
                                    img(src=`../../public/images/${contact.senator2Picture}.jpg`)
                                  else
                                    img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Senator.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.senator2Name
                                div
                                  label Year Elected: 
                                  span  #{contact.senator2YearElected}
                                div
                                  label Next Election: 
                                  span  #{contact.senator2NextElection}
                                div
                                  label Party: 
                                  span  #{contact.senator2Party}
                                div
                                  label Committee Assignment: 
                                  span  #{contact.senator2CommitteeAssignment}
                                div
                                  label Address: 
                                  span  #{contact.senator2Address}
                                div
                                  label Email:
                                  a(href= '//'+`${contact.senator2EmailAddress}`)
                                    =  contact.senator2EmailAddress
                                div
                                  label Online Message: 
                                  a(href= '//'+`${contact.senator2OnlineMessaging}`)
                                    =  contact.senator2OnlineMessaging
                                div
                                  label Twitter: 
                                  a(href= '//'+`${contact.senator2Twitter}`)
                                    =  contact.senator2Twitter
                                div
                                  label Phone: 
                                  a(href= 'tel:'+`${contact.senator2Phone}`)
                                    =  contact.senator2Phone
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                div.avatar-container
                                  if contact.governorPicture
                                    img(src=`../../public/images/${contact.governorPicture}.jpg`)
                                  else
                                    img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Governor.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.governorName
                                div
                                  label Year Elected: 
                                  span  #{contact.governorYearElected}
                                div
                                  label Next Election: 
                                  span  #{contact.governorNextElection}
                                div
                                  label Party: 
                                  span  #{contact.governorParty}
                                div
                                  label Committee Assignment: 
                                  span  #{contact.governorCommitteeAssignment}
                                div
                                  label Address: 
                                  span  #{contact.governorAddress}
                                div
                                  label Email:
                                  a(href= '//'+`${contact.governorEmailAddress}`)
                                    =  contact.governorEmailAddress
                                div
                                  label Online Message: 
                                  a(href= '//'+`${contact.governorOnlineMessaging}`)
                                    =  contact.governorOnlineMessaging
                                div
                                  label Twitter: 
                                  a(href= '//'+`${contact.governorTwitter}`)
                                    =  contact.governorTwitter
                                div
                                  label Phone: 
                                  a(href= 'tel:'+`${contact.governorPhone}`)
                                    =  contact.governorPhone
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                div.avatar-container
                                  if contact.mayorPicture
                                    img(src='../../public/images/'+`${contact.mayorPicture}`+'.jpg')
                                  else
                                    img(src="../../public/images/placeholder-rep.png")
                              div.item-data
                                h5 Mayor.
                                 = `${contact.city}.${contact.stateAcronym}`
                                h4= contact.mayorName
                                div
                                  label Year Elected: 
                                  span  #{contact.mayorYearElected}
                                div
                                  label Next Election: 
                                  span  #{contact.mayorNextElection}
                                div
                                  label Party: 
                                  span  #{contact.mayorParty}
                                div
                                  label Committee Assignment: 
                                  span  #{contact.mayorCommitteeAssignment}
                                div
                                  label Address: 
                                  span  #{contact.mayorAddress}
                                div
                                  label Email:
                                  a(href= '//'+`${contact.mayorEmailAddress}`)
                                    = contact.mayorEmailAddress
                                div
                                  label Online Message: 
                                  a(href= '//'+`${contact.mayorOnlineMessaging}`)
                                    = contact.mayorOnlineMessaging
                                div
                                  label Twitter: 
                                  a(href= '//'+`${contact.mayorTwitter}`)
                                    = contact.mayorTwitter
                                div
                                  label Phone: 
                                  a(href= 'tel:'+`${contact.mayorPhone}`)
                                    = contact.mayorPhone
                                  - break
