extends layout

block content
 
    div.page-wrapper.page-inner
        div.container
            div.main-wrapper
                div.row.row-top
                    div.col-lg-5
                      h4 NORTH AMERICA
                    each contact in data
                      h2 #{contact['city']},
                       span #{contact['zipCode']}
                      - break
                      p
                        span 80% reduction
                        |  in GHGs
                        span  by 2030
                        |  from 2000
                    div.col-lg-7
                      div.progress
                        div(class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 25%
                        h6 
                          strong 75% 
                          | away from target
                div.row.row-main
                    div.col-lg-3.side-img-wrapper
                      div.side-img
                        img(src="../../images/side-placeholder.jpg")
                    div.col-lg-9
                      div.results-list
                        div.row
                         each contact in data
                          div.col-lg-6
                            div.col-item
                              div.item-img
                                img(src="images/placeholder.png")
                              div.item-data
                                h5 Mayor.Fake City.NY
                                if contact.repName
                                  h4= contact.repName
                                else if contact.senator1Name
                                  h4= contact.senator1Name
                                else if contact.senator2Name
                                  h4= contact.senator2Name
                                else if contact.governorName
                                  h4= contact.governorName
                                else if contact.mayorName
                                  h4= contact.mayorName
                                else
                                  h4 no
