extends layout

block content
	include inner
	div.page-inner
		div.container
			div.main-wrapper
				div.row.row-top
					div.col-lg-6
						img.mb-3(src="../public/images/state-icon.png")
						h4.mb-0 How's my state doing?
				div.row.row-main.state-section
					div.col-lg-12
						div
							div.row 
								i Select one or serveral states you want to see or compare by clicking on them:

							div.row.states-list
								div.col-lg-12
									each value,state in states
										button.state-selection(id=`${state}Button` data-value=`${state}`) #{state}
				div.row.state-section
					each value,state in states	
						div.col-lg-12.state-column.hidden(id=`${state.replace(/\s/g, '')}Column`)
							div.row.row-top
								div.col-lg-12
								h3 #{state}	
							div.row.row-top
								div.col-lg-12.state-progress-column
									div.progress.state-progress(data-value=`${value}`)
										div(class="progress-bar" role="progressbar" aria-valuenow=`${value}` style="width:0;" aria-valuemin="0" aria-valuemax="100")
										h6 
											strong
												span.progress-difference 100% 
												| away from target
				div #{JSON.stringify(states)}


		include ../components/search
		include ../components/footer
